.App {
  text-align: center;
}
.buttons {
  margin: 5px;
}

.button {
  margin: 10px;
  padding: 8px 10px 8px 10px;
  background-color: black;
  border: none;
  border-radius: 5%;
  /* size: 25px; */
  font-size: 30px;
  color: wheat;
}
#start-button {
  border-radius: 25px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.App {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#ForwardReverseButtons {
  display: flex;
  flex-direction: column;
}